In [2]:
print("hello")

hello

In [11]:
import numpy as np

In [12]:
a=6

In [14]:
b=7
if a>b:
    print(a)
else: print(b)

7

In [16]:
x,y,z=3,4,8

In [17]:
x

3

In [18]:
type(y)

int

In [3]:
str1=input("Enter the string:")  #reading the string
for i in range(len(str1)): #iterate over the string
    if str1[i]=='H':
        print("H is in string at index "+str(i)) #printing H index in String

Enter the string:HAMSTER
H is in string at index 0

In [6]:
lst = 'hello world'.split()

In [7]:
lst

['hello', 'world']

In [8]:
tup =1,3,3
tup

(1, 3, 3)

In [12]:
a,b,c=tup

In [14]:
print(a,b)
print(c)

1 3
3

In [16]:
import bisect
lst =[1,2,3,5]
bisect.bisect(lst,3)

3

In [20]:
sorted([3,5,7,3,7,2])

[2, 3, 3, 5, 7, 7]

In [76]:
import pandas as pd
import numpy as np
import random
dataframe = pd.DataFrame(np.random.randint(0,100,size=(50,3)), columns=list('123'))
dataframe.head()

    1   2   3
0  49  41  27
1  20  19  95
2  94  71  91
3  40  24  17
4  17  27  83

In [77]:
for c in  dataframe.sample(int(dataframe.shape[0]*dataframe.shape[1]*0.10)).index:
    dataframe.loc[c,str(np.random.randint(1,4))]=np.nan
dataframe.head()

      1     2     3
0  49.0  41.0  27.0
1  20.0  19.0  95.0
2  94.0  71.0  91.0
3  40.0  24.0  17.0
4  17.0  27.0  83.0

In [75]:
for col in nan_col:
    print(col,dataframe[col].isnull().sum())

1 4
2 6
3 5