In [17]:
import numpy as np
#importing pandas library
import pandas as pd

# Pandas Series

In [2]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [4]:
print(obj.index)

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj2 = pd.Series([1,2,3,6],index=['a','b','c','d'])
print(obj2)
print(obj2.index)

a    1
b    2
c    3
d    6
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
print(obj2['b'])
print(obj2[['b','a','c']])

2
b    2
a    1
c    3
dtype: int64

In [16]:
print(obj2[obj2>2])
print(obj2*2)

c    3
d    6
dtype: int64
a     2
b     4
c     6
d    12
dtype: int64

In [19]:
print(np.exp(obj2))
print('a' in obj2)

a      2.718282
b      7.389056
c     20.085537
d    403.428793
dtype: float64
True

In [21]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [22]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
print(obj4)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [24]:
print(pd.isnull(obj4))
print(pd.notnull(obj4))

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [25]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [28]:
print(obj3)
print(obj4)
print(obj3+obj4)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [30]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [32]:
print(obj)
lst = ['Bob','John','Marley','Jack']
obj.index = lst
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64
Bob       4
John      7
Marley   -5
Jack      3
dtype: int64